.ingridients {}

.ingridients-title {}

.ingridients-list {}

.ingridients-item {}

.ingridients-ill {}

.ingridients-caption {
    font-size: inherit;
    font-weight: 600;
    text-transform: uppercase;
}