.ingridients {
    padding-top: 120px;
}

.ingridients-title {}

.ingridients-list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.ingridients-item {
    width: calc((100% - 32px * 3) / 4);
    border-radius: 15px;
    padding: 28px 24px;
}

.ingridients-item:nth-child(2n) {
    background-color: #fff;
    border: 1px solid #fd9222;
}

.ingridients-item:nth-child(4n + 1) {
    background-color: #fd9222;
    color: #fff;
}

.ingridients-item:nth-child(4n + 3) {
    background-color: #1e1823;
    color: #fff;
}

.ingridients-ill {
    margin-bottom: 32px;
}

.ingridients-caption {
    font-size: inherit;
    font-weight: 600;
    text-transform: uppercase;
}